<h1>{{post.title}}</h1>
<p>{{post.date}}</p>
<p><img src={{post.image}} alt={{post.title}}></p>

<p>{{post.content}}</p>

<button class="btn btn-default" {{action 'delete' post }}>Delete Post</button>
<br>
<br>
